<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <p>Title</p>
  <input type="text" name="newt" autocomplete="off">
  <p>Post</p>
  <textarea name="newm" rows="8" cols="80"></textarea>
  <br>
  <button type="submit" name="submit" class="btn btn-primary">Publish</button>
</form>


<%- include("partials/footer") -%>
