<%- include("partials/header") -%>

<h1>Nothing to see here!</h1>
<h3>Please create new entries.</h3>

<a href="/compose" class="btn btn-primary btn-lg addnewbtn" style="color: White;">Add New</a>

<%- include("partials/footer") -%>
